{
  "swagger": "2.0",
  "info": {
    "title": "STACKIT Argus API",
    "description": "API endpoints for Argus on STACKIT",
    "termsOfService": "https://stackit.de/en/imprint",
    "contact": { "email": "stackit-argus@mail.schwarz" },
    "version": "v1"
  },
  "host": "api.argus.eu01.stackit.cloud",
  "schemes": ["https"],
  "basePath": "/",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": { "Basic": { "type": "basic" } },
  "security": [{ "Basic": [] }],
  "paths": {
    "/": {
      "get": {
        "operationId": "_list",
        "description": "Get 200 ok.",
        "parameters": [],
        "responses": {
          "200": { "description": "Health route that always return 200 ok." }
        },
        "tags": ["health"]
      },
      "parameters": []
    },
    "/healthz": {
      "get": {
        "operationId": "healthz_list",
        "description": "Get 200 ok.",
        "parameters": [],
        "responses": {
          "200": { "description": "Health route that always return 200 ok." }
        },
        "tags": ["health"]
      },
      "parameters": []
    },
    "/v1/clusters": {
      "get": {
        "operationId": "v1_clusters_list",
        "description": "Get all cluster names.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "header",
            "description": "Search string that should be included in the cluster name",
            "type": "string"
          },
          {
            "name": "pageIdx",
            "in": "header",
            "description": "Page index if the clusters are having paging. 4 clusters per page are returned",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all cluster names",
            "schema": { "$ref": "#/definitions/ClusterList" },
            "examples": {
              "application/json": {
                "message": "List of clusters",
                "clusters": ["intern", "schwarz"]
              }
            }
          },
          "400": {
            "description": "The params are not valid",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": {
                "message": "Parameters are wrong data format"
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["cluster"]
      },
      "parameters": []
    },
    "/v1/clusters/{clusterId}": {
      "post": {
        "operationId": "v1_clusters_create",
        "description": "Initialize the cluster secrets and operators.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "required": ["kubeconfig"],
              "type": "object",
              "properties": {
                "kubeconfig": {
                  "description": "Encoded base64 string of a valid kubeconfig",
                  "type": "string"
                },
                "clusterName": {
                  "description": "Concrete name of the cluster. If you leave the field blank, the cluster name is clusterId{len(clusterId)}. So in a cluster category defined by clusterId many concrete clusters can exist.",
                  "type": "string"
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The cluster was successfully initialized.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": {
                "message": "Cluster successfully initialized"
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong while initializing the operators or building the git repo because the parameters were incorrect.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": { "message": "Failed to initialize cluster" }
            }
          }
        },
        "tags": ["cluster"]
      },
      "delete": {
        "operationId": "v1_clusters_delete",
        "description": "Delete the operators, secrets and git repo but will not delete the pods deployed by flux.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The cluster was successfully deleted.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": { "message": "Cluster successfully deleted" }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong during deleting the cluster.",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": { "message": "Failed to delete the cluster" }
            }
          }
        },
        "tags": ["cluster"]
      },
      "parameters": [
        {
          "name": "clusterId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/v1/clusters/{clusterId}/instances/{instanceId}/status": {
      "get": {
        "operationId": "v1_clusters_instances_status_list",
        "description": "Get deployment status.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth and broker.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get deployment status",
            "schema": { "$ref": "#/definitions/Status" },
            "examples": {
              "application/json": {
                "state": "in progress",
                "description": "Not all pods are ready yet",
                "instance_usable": false,
                "update_repeatable": false
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong getting deployment status",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": {
                "message": "Something went wrong getting deployment status"
              }
            }
          }
        },
        "tags": ["osb"]
      },
      "parameters": [
        {
          "name": "clusterId",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/v1/grafana-plugins": {
      "get": {
        "operationId": "v1_grafana-plugins_list",
        "description": "Get grafana plugins for instance.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get available grafana plugins",
            "schema": { "$ref": "#/definitions/GrafanaPlugin" },
            "examples": {
              "application/json": {
                "message": "Successfully got grafana plugins",
                "plugins": [
                  { "name": "Test Plugin", "description": "Test Description" }
                ]
              }
            }
          },
          "403": {
            "description": "You do not have permission to perform this action.",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["grafana plugins"]
      },
      "post": {
        "operationId": "v1_grafana-plugins_create",
        "description": "Create grafana plugins for instance.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "required": ["name", "description"],
              "type": "object",
              "properties": {
                "name": {
                  "description": "Name of the grafana plugin",
                  "type": "string",
                  "maxLength": 500,
                  "minLength": 1
                },
                "description": {
                  "description": "Description of the grafana plugin",
                  "type": "string",
                  "maxLength": 500,
                  "minLength": 1
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "The Grafana plugin has been created successfully.",
            "schema": { "$ref": "#/definitions/GrafanaPluginSingle" },
            "examples": {
              "application/json": {
                "message": "Grafana Plugin Created",
                "plugin": {
                  "name": "Test Plugin",
                  "description": "This is a Test Plugin"
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong creating Grafana plugin.",
            "schema": { "$ref": "#/definitions/Error" },
            "examples": { "application/json": { "message": "Something" } }
          }
        },
        "tags": ["grafana plugins"]
      },
      "parameters": []
    },
    "/v1/grafana-plugins/{pluginName}": {
      "get": {
        "operationId": "v1_grafana-plugins_read",
        "description": "Get grafana plugin.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get available grafana plugins",
            "schema": { "$ref": "#/definitions/GrafanaPluginSingle" },
            "examples": {
              "application/json": {
                "message": "Successfully got grafana plugins",
                "plugin": {
                  "name": "Test Plugin",
                  "description": "Test Description"
                }
              }
            }
          },
          "404": {
            "description": "Grafana plugin not found",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": { "message": "Grafana plugin not found" }
            }
          },
          "403": {
            "description": "You do not have permission to perform this action.",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["grafana plugins"]
      },
      "put": {
        "operationId": "v1_grafana-plugins_update",
        "description": "Update grafana plugin.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "required": ["description"],
              "type": "object",
              "properties": {
                "description": {
                  "description": "Description of the grafana plugin to update",
                  "type": "string",
                  "maxLength": 500,
                  "minLength": 1
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The grafana plugin was successfully updated.",
            "schema": { "$ref": "#/definitions/GrafanaPluginSingle" },
            "examples": {
              "application/json": {
                "message": "Successfully updated grafana plugin",
                "plugin": {
                  "name": "Test Plugin",
                  "description": "This is a Test Plugin"
                }
              }
            }
          },
          "404": {
            "description": "Grafana plugin not found",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": { "message": "Grafana plugin not found" }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong.",
            "schema": { "$ref": "#/definitions/Error" },
            "examples": {
              "application/json": { "message": "Something went wrong" }
            }
          }
        },
        "tags": ["grafana plugins"]
      },
      "delete": {
        "operationId": "v1_grafana-plugins_delete",
        "description": "Delete grafana plugin.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "The grafana plugin has been deleted successfully.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": {
                "message": "Successfully deleted grafana plugin"
              }
            }
          },
          "404": {
            "description": "Grafana plugin not found",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": { "message": "Grafana plugin not found" }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["grafana plugins"]
      },
      "parameters": [
        {
          "name": "pluginName",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/v1/instances": {
      "get": {
        "operationId": "v1_instances_list",
        "description": "Get all instances.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "header",
            "description": "search string that should be in service name",
            "type": "string"
          },
          {
            "name": "pageIdx",
            "in": "header",
            "description": "page index when the instance should be paged. It will return 25 instance per page",
            "type": "number"
          },
          {
            "name": "projectId",
            "in": "header",
            "description": "search all instances with a specific project id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all instances",
            "schema": { "$ref": "#/definitions/Services" },
            "examples": {
              "application/json": {
                "message": "Successfully got instances",
                "instances": [
                  {
                    "instance": "123456",
                    "cluster": "intern",
                    "grafanaUrl": "grafana.example.com",
                    "dashboardUrl": "dashboard.example.com",
                    "name": "test"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "No valid params",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": { "application/json": { "message": "No valid params" } }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["instances"]
      },
      "patch": {
        "operationId": "v1_instances_partial_update",
        "description": "Update all customer monitoring stacks according to the basic yaml in the api.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts admin auth.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Update all customer monitoring stacks according to the yaml in the api",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": { "message": "Update will be proceeded" }
            }
          },
          "403": {
            "description": "You do not have permission to perform this action.",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["instances"]
      },
      "parameters": []
    },
    "/v1/instances/{instanceId}": {
      "get": {
        "operationId": "v1_instances_read",
        "description": "Get instance information.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get instance data",
            "schema": { "$ref": "#/definitions/Service" },
            "examples": {
              "application/json": {
                "message": "Successfully got instance",
                "instance": {
                  "instance": "123456",
                  "cluster": "stackit",
                  "grafanaUrl": "https://ui.stackit.argus.eu01.cloud/instances/123456",
                  "dashboardUrl": "dashboard.example.com",
                  "grafanaPlugins": [],
                  "name": "test",
                  "grafanaAdminPassword": "asdf313kles23450des0asdf313kles2",
                  "grafanaAdminUser": "admin",
                  "metricsRetentionTimeRaw": 14,
                  "metricsRetentionTime5m": 0,
                  "metricsRetentionTime1h": 0,
                  "metricsUrl": "https://storage.api.stackit.argus.eu01.cloud/instances/123456",
                  "pushMetricsUrl": "https://push.metrics.stackit.argus.eu01.cloud/instances/123456/api/v1/receive",
                  "grafanaPublicReadAccess": false,
                  "targetsUrl": "https://metrics.stackit.argus.eu01.cloud/instances/123456",
                  "alertingUrl": "https://alerting.stackit.argus.eu01.cloud/instances/123456",
                  "plan": {
                    "planId": "7b1fbd9c-9acd-42ce-95d3-0f6822d6cabe",
                    "description": "Small Plan",
                    "name": "SmallPlan",
                    "bucketSize": 20,
                    "grafanaGlobalUsers": 10,
                    "grafanaGlobalOrgs": 2,
                    "grafanaGlobalDashboards": 20,
                    "alertRules": 1000,
                    "targetNumber": 2,
                    "samplesPerScrape": 1000,
                    "grafanaGlobalSessions": 10,
                    "amount": 49,
                    "alertReceivers": 10,
                    "alertMatchers": 10
                  },
                  "logsUrl": "https://logs.stackit.argus.eu01.cloud/instances/123456",
                  "logsPushUrl": "https://logs.stackit.argus.eu01.cloud/instances/123456/loki/api/v1/push",
                  "jaegerTracesUrl": "123456-gj.traces.stackit.argus.eu01.cloud:443",
                  "otlpTracesUrl": "123456-op.traces.stackit.argus.eu01.cloud:443",
                  "zipkinSpansUrl": "https://123456-zk.traces.stackit.argus.eu01.cloud/instances/123456",
                  "jaegerUiUrl": "https://123456-jui.traces.stackit.argus.eu01.cloud/instances/123456"
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["instances"]
      },
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/v1/instances/{instanceId}/alertconfigs": {
      "get": {
        "operationId": "v1_instances_alertconfigs_list",
        "description": "Get alert config.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get alert config",
            "schema": { "$ref": "#/definitions/GetAlert" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "global": {
                    "smtpSmarthost": "localhost:25",
                    "smtpFrom": "alertmanager@example.org",
                    "smtpAuthUsername": "alertmanager",
                    "smtpAuthPassword": "password"
                  },
                  "route": {
                    "groupBy": ["alertname", "cluster", "service"],
                    "groupWait": "30s",
                    "groupInterval": "5m",
                    "repeatInterval": "3h",
                    "receiver": "team-X-mails",
                    "routes": [
                      {
                        "matchRe": { "service": "^(foo1|foo2|baz)$" },
                        "receiver": "team-X-paper",
                        "routes": [
                          {
                            "match": { "severity": "critical" },
                            "receiver": "team-X-paper",
                            "routes": [
                              {
                                "match": { "severity": "warning" },
                                "receiver": "team-X-paper"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "match": { "service": "files" },
                        "receiver": "team-X-pager",
                        "routes": [
                          {
                            "match": { "severity": "critical" },
                            "receiver": "team-Y-paper"
                          }
                        ]
                      }
                    ]
                  },
                  "inhibitRules": [
                    {
                      "sourceMatch": { "severity": "criticals" },
                      "targetMatch": { "severity": "warning" },
                      "equal": ["alertname", "cluster", "service"]
                    }
                  ],
                  "receivers": [
                    {
                      "name": "team-X-mails",
                      "emailConfigs": [{ "to": "team-X+alerts@example.org" }]
                    },
                    {
                      "name": "team-X-paper",
                      "emailConfigs": [{ "to": "team-X+papers@example.org" }]
                    },
                    {
                      "name": "team-Y-paper",
                      "emailConfigs": [{ "to": "team-Y+paper@example.org" }]
                    },
                    {
                      "name": "team-X-pager",
                      "emailConfigs": [
                        { "to": "team-X+alerts-critical@example.org" }
                      ],
                      "opsgenieConfigs": [
                        {
                          "apiKey": "12345678",
                          "apiUrl": "https://example.opsgenie.org"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["alert config"]
      },
      "put": {
        "operationId": "v1_instances_alertconfigs_update",
        "description": "Update alert config.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Alert config",
              "required": ["route", "receivers"],
              "type": "object",
              "properties": {
                "global": {
                  "description": "Global config. If nothing passed the default argus config will be used.",
                  "type": "object",
                  "properties": {
                    "resolveTimeout": {
                      "description": "ResolveTimeout is the default value used by alertmanager if the alert does not include EndsAt, after this time passes it can declare the alert as resolved if it has not been updated. This has no impact on alerts from Prometheus, as they always include EndsAt. \n`Additional Validators:`\n* must be a valid time format",
                      "type": "string",
                      "default": "5m",
                      "maxLength": 8,
                      "minLength": 2
                    },
                    "smtpFrom": {
                      "description": "The default SMTP From header field. \n`Additional Validators:`\n* must be a syntactically valid email address",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    },
                    "smtpSmarthost": {
                      "description": "The default SMTP smarthost used for sending emails, including port number. Port number usually is 25, or 587 for SMTP over TLS (sometimes referred to as STARTTLS). Example: smtp.example.org:587 \n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    },
                    "smtpAuthUsername": {
                      "description": "SMTP Auth using CRAM-MD5, LOGIN and PLAIN. If empty, Alertmanager doesn't authenticate to the SMTP server.",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    },
                    "smtpAuthPassword": {
                      "description": "SMTP Auth using LOGIN and PLAIN.",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    },
                    "smtpAuthIdentity": {
                      "description": "Auth identity.\n`Additional Validators:`\n* must be a syntactically valid email address",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    },
                    "opsgenieApiKey": {
                      "description": "Opsgenie api key\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    },
                    "opsgenieApiUrl": {
                      "description": "Opsgenie api url\n`Additional Validators:`\n* must be a syntactically valid url address",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    }
                  }
                },
                "route": {
                  "description": "The root node of the routing tree.",
                  "required": ["receiver"],
                  "type": "object",
                  "properties": {
                    "receiver": {
                      "description": "Receiver that should be one item of receivers\n`Additional Validators:`\n* must be a in name of receivers",
                      "type": "string",
                      "maxLength": 200,
                      "minLength": 1
                    },
                    "groupBy": {
                      "description": "The labels by which incoming alerts are grouped together. For example, multiple alerts coming in for cluster=A and alertname=LatencyHigh would be batched into a single group. To aggregate by all possible labels use the special value '...' as the sole label name, for example: group_by: ['...']. This effectively disables aggregation entirely, passing through all alerts as-is. This is unlikely to be what you want, unless you have a very low alert volume or your upstream notification system performs its own grouping.",
                      "type": "array",
                      "items": {
                        "description": "As described",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "maxLength": 5
                    },
                    "groupWait": {
                      "description": "How long to initially wait to send a notification for a group of alerts. Allows to wait for an inhibiting alert to arrive or collect more initial alerts for the same group. (Usually ~0s to few minutes.)\n`Additional Validators:`\n* must be a valid time format",
                      "type": "string",
                      "default": "30s",
                      "maxLength": 8,
                      "minLength": 2
                    },
                    "groupInterval": {
                      "description": "How long to wait before sending a notification about new alerts that are added to a group of alerts for which an initial notification has already been sent. (Usually ~5m or more.)\n`Additional Validators:`\n* must be a valid time format",
                      "type": "string",
                      "default": "5m",
                      "maxLength": 8,
                      "minLength": 2
                    },
                    "repeatInterval": {
                      "description": "How long to wait before sending a notification again if it has already been sent successfully for an alert. (Usually ~3h or more).\n`Additional Validators:`\n* must be a valid time format",
                      "type": "string",
                      "default": "4h",
                      "maxLength": 8,
                      "minLength": 2
                    },
                    "match": {
                      "description": "map of key:value. A set of equality matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters\n* key and values should only include the characters: a-zA-Z0-9_./@&?:-",
                      "type": "object",
                      "deprecated": true
                    },
                    "matchRe": {
                      "description": "map of key:value. A set of regex-matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters",
                      "type": "object",
                      "deprecated": true
                    },
                    "matchers": {
                      "description": "A list of matchers that an alert has to fulfill to match the node. A matcher is a string with a syntax inspired by PromQL and OpenMetrics. The syntax of a matcher consists of three tokens:\n* A valid Prometheus label name.\n* One of =, !=, =~, or !~. = means equals, != means that the strings are not equal, =~ is used for equality of regex expressions and !~ is used for un-equality of regex expressions. They have the same meaning as known from PromQL selectors.\n* A UTF-8 string, which may be enclosed in double quotes. Before or after each token, there may be any amount of whitespace.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters",
                      "type": "array",
                      "items": {
                        "description": "Item of matchers",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "maxLength": 5
                    },
                    "routes": {
                      "description": "Zero or more child routes.",
                      "type": "array",
                      "items": {
                        "description": "As in one level above",
                        "type": "object",
                        "properties": {
                          "receiver": {
                            "description": "As in one level above",
                            "type": "string",
                            "maxLength": 100,
                            "minLength": 1
                          },
                          "groupBy": {
                            "description": "",
                            "type": "array",
                            "items": {
                              "description": "As in one level above",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "maxLength": 5
                          },
                          "groupWait": {
                            "description": "As in one level above",
                            "type": "string",
                            "maxLength": 8
                          },
                          "groupInterval": {
                            "description": "As in one level above",
                            "type": "string",
                            "maxLength": 8,
                            "minLength": 2
                          },
                          "repeatInterval": {
                            "description": "As in one level above",
                            "type": "string",
                            "maxLength": 8,
                            "minLength": 2
                          },
                          "match": {
                            "description": "As in one level above",
                            "type": "object"
                          },
                          "matchRe": {
                            "description": "As in one level above",
                            "type": "object"
                          },
                          "routes": {
                            "description": "Another child routes",
                            "type": "array",
                            "items": {
                              "description": "As in one level above",
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "receivers": {
                  "description": "A list of notification receivers.",
                  "type": "array",
                  "items": {
                    "description": "Receivers",
                    "required": ["name"],
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "`Additional Validators:`\n* must be unique\n* should only include the characters: a-zA-Z0-9-",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "emailConfigs": {
                        "description": "Email configurations",
                        "type": "array",
                        "items": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "to": {
                              "description": "The email address to send notifications to.\n`Additional Validators:`\n* must be a syntactically valid email address",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "from": {
                              "description": "The sender address.\n`Additional Validators:`\n* must be a syntactically valid email address",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "smarthost": {
                              "description": "The SMTP host through which emails are sent.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "authUsername": {
                              "description": "SMTP authentication information.",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "authPassword": {
                              "description": "SMTP authentication information.",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "authIdentity": {
                              "description": "SMTP authentication information.\n`Additional Validators:`\n* must be a syntactically valid email address",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            }
                          }
                        }
                      },
                      "opsgenieConfigs": {
                        "description": "Configuration for ops genie.",
                        "type": "array",
                        "items": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "apiKey": {
                              "description": "The API key to use when talking to the OpsGenie API.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "apiUrl": {
                              "description": "The host to send OpsGenie API requests to.\n`Additional Validators:`\n* must be a syntactically valid url address",
                              "type": "string",
                              "maxLength": 200,
                              "minLength": 1
                            },
                            "tags": {
                              "description": "Comma separated list of tags attached to the notifications.",
                              "type": "string",
                              "maxLength": 400,
                              "minLength": 1
                            }
                          }
                        }
                      },
                      "webHookConfigs": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "description": "",
                          "type": "object",
                          "properties": {
                            "url": {
                              "description": "The endpoint to send HTTP POST requests to.\n`Additional Validators:`\n* must be a syntactically valid url address",
                              "type": "string",
                              "maxLength": 500,
                              "minLength": 1
                            },
                            "msTeams": {
                              "description": "Microsoft Teams webhooks require special handling. If you set this property to true, it is treated as such",
                              "type": "boolean",
                              "default": false
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "inhibitRules": {
                  "description": "A list of inhibition rules.",
                  "type": "object",
                  "properties": {
                    "sourceMatch": {
                      "description": "map of key:value. Matchers for which one or more alerts have to exist for the inhibition to take effect.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters\n* each key and value should only include the characters: a-zA-Z0-9_./@&?:-",
                      "type": "object"
                    },
                    "sourceMatchRe": {
                      "description": "map of key:value. Regex match\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters",
                      "type": "object"
                    },
                    "targetMatch": {
                      "description": "map of key:value. Matchers that have to be fulfilled in the alerts to be muted.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters\n* each key and value should only include the characters: a-zA-Z0-9_./@&?:-",
                      "type": "object"
                    },
                    "targetMatchRe": {
                      "description": "map of key:value. Matchers that have to be fulfilled in the alerts to be muted. Regex.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not have more than 200 characters",
                      "type": "object"
                    },
                    "equal": {
                      "description": "Labels that must have an equal value in the source and target alert for the inhibition to take effect.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-",
                      "type": "array",
                      "items": {
                        "description": "",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "maxLength": 10
                    }
                  }
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Update alert config.",
            "schema": { "$ref": "#/definitions/PutAlert" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "global": {
                    "smtpSmarthost": "localhost:25",
                    "smtpFrom": "alertmanager@example.org",
                    "smtpAuthUsername": "alertmanager",
                    "smtpAuthPassword": "password"
                  },
                  "route": {
                    "groupBy": ["alertname", "cluster", "service"],
                    "groupWait": "30s",
                    "groupInterval": "5m",
                    "repeatInterval": "3h",
                    "receiver": "team-X-mails",
                    "routes": [
                      {
                        "matchRe": { "service": "^(foo1|foo2|baz)$" },
                        "receiver": "team-X-paper",
                        "routes": [
                          {
                            "match": { "severity": "critical" },
                            "receiver": "team-X-paper",
                            "routes": [
                              {
                                "match": { "severity": "warning" },
                                "receiver": "team-X-paper"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "match": { "service": "files" },
                        "receiver": "team-X-pager",
                        "routes": [
                          {
                            "match": { "severity": "critical" },
                            "receiver": "team-Y-paper"
                          }
                        ]
                      }
                    ]
                  },
                  "inhibitRules": [
                    {
                      "sourceMatch": { "severity": "criticals" },
                      "targetMatch": { "severity": "warning" },
                      "equal": ["alertname", "cluster", "service"]
                    }
                  ],
                  "receivers": [
                    {
                      "name": "team-X-mails",
                      "emailConfigs": [{ "to": "team-X+alerts@example.org" }]
                    },
                    {
                      "name": "team-X-paper",
                      "emailConfigs": [{ "to": "team-X+papers@example.org" }]
                    },
                    {
                      "name": "team-Y-paper",
                      "emailConfigs": [{ "to": "team-Y+paper@example.org" }]
                    },
                    {
                      "name": "team-X-pager",
                      "emailConfigs": [
                        { "to": "team-X+alerts-critical@example.org" }
                      ],
                      "opsgenieConfigs": [
                        {
                          "apiKey": "12345678",
                          "apiUrl": "https://example.opsgenie.org"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong updating the alert config.",
            "schema": { "$ref": "#/definitions/Error" },
            "examples": {
              "application/json": { "message": "Could not update alert config" }
            }
          }
        },
        "tags": ["alert config"]
      },
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/v1/instances/{instanceId}/alertconfigs/receivers": {
      "get": {
        "operationId": "v1_instances_alertconfigs_receivers_list",
        "description": "Get alert config receivers.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get alert config receivers",
            "schema": { "$ref": "#/definitions/ReceiversResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": [
                  {
                    "name": "team-X-mails",
                    "emailConfigs": [{ "to": "team-X+alerts@example.org" }]
                  },
                  {
                    "name": "team-X-paper",
                    "emailConfigs": [{ "to": "team-X+papers@example.org" }]
                  },
                  {
                    "name": "team-Y-paper",
                    "emailConfigs": [{ "to": "team-Y+paper@example.org" }]
                  },
                  {
                    "name": "team-X-pager",
                    "emailConfigs": [
                      { "to": "team-X+alerts-critical@example.org" }
                    ],
                    "opsgenieConfigs": [
                      {
                        "apiKey": "12345678",
                        "apiUrl": "https://example.opsgenie.org"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["alert config"]
      },
      "post": {
        "operationId": "v1_instances_alertconfigs_receivers_create",
        "description": "Create alert config receiver.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Receivers",
              "required": ["name"],
              "type": "object",
              "properties": {
                "name": {
                  "description": "`Additional Validators:`\n* must be unique\n* should only include the characters: a-zA-Z0-9-",
                  "type": "string",
                  "maxLength": 200,
                  "minLength": 1
                },
                "emailConfigs": {
                  "description": "Email configurations",
                  "type": "array",
                  "items": {
                    "description": "",
                    "type": "object",
                    "properties": {
                      "to": {
                        "description": "The email address to send notifications to.\n`Additional Validators:`\n* must be a syntactically valid email address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "from": {
                        "description": "The sender address.\n`Additional Validators:`\n* must be a syntactically valid email address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "smarthost": {
                        "description": "The SMTP host through which emails are sent.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "authUsername": {
                        "description": "SMTP authentication information.",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "authPassword": {
                        "description": "SMTP authentication information.",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "authIdentity": {
                        "description": "SMTP authentication information.\n`Additional Validators:`\n* must be a syntactically valid email address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      }
                    }
                  }
                },
                "opsgenieConfigs": {
                  "description": "Configuration for ops genie.",
                  "type": "array",
                  "items": {
                    "description": "",
                    "type": "object",
                    "properties": {
                      "apiKey": {
                        "description": "The API key to use when talking to the OpsGenie API.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "apiUrl": {
                        "description": "The host to send OpsGenie API requests to.\n`Additional Validators:`\n* must be a syntactically valid url address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "tags": {
                        "description": "Comma separated list of tags attached to the notifications.",
                        "type": "string",
                        "maxLength": 400,
                        "minLength": 1
                      }
                    }
                  }
                },
                "webHookConfigs": {
                  "description": "",
                  "type": "array",
                  "items": {
                    "description": "",
                    "type": "object",
                    "properties": {
                      "url": {
                        "description": "The endpoint to send HTTP POST requests to.\n`Additional Validators:`\n* must be a syntactically valid url address",
                        "type": "string",
                        "maxLength": 500,
                        "minLength": 1
                      },
                      "msTeams": {
                        "description": "Microsoft Teams webhooks require special handling. If you set this property to true, it is treated as such",
                        "type": "boolean",
                        "default": false
                      }
                    }
                  }
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Create alert config receiver.",
            "schema": { "$ref": "#/definitions/ReceiversResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": [
                  {
                    "name": "team-X-mails",
                    "emailConfigs": [{ "to": "team-X+alerts@example.org" }]
                  },
                  {
                    "name": "team-X-paper",
                    "emailConfigs": [{ "to": "team-X+papers@example.org" }]
                  },
                  {
                    "name": "team-Y-paper",
                    "emailConfigs": [{ "to": "team-Y+paper@example.org" }]
                  },
                  {
                    "name": "team-X-pager",
                    "emailConfigs": [
                      { "to": "team-X+alerts-critical@example.org" }
                    ],
                    "opsgenieConfigs": [
                      {
                        "apiKey": "12345678",
                        "apiUrl": "https://example.opsgenie.org"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong.",
            "schema": { "$ref": "#/definitions/Error" },
            "examples": {
              "application/json": { "message": "Something went wrong" }
            }
          }
        },
        "tags": ["alert config"]
      },
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/v1/instances/{instanceId}/alertconfigs/receivers/{receiver}": {
      "get": {
        "operationId": "v1_instances_alertconfigs_receivers_read",
        "description": "Get alert config receivers.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get alert config receiver",
            "schema": {
              "$ref": "#/definitions/ReceiversResponseSerializerSingle"
            },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "name": "team-X-mails",
                  "emailConfigs": [{ "to": "team-X+alerts@example.org" }]
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "404": {
            "description": "Alert config receiver not found.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": {
                "message": "Alert config receiver not found."
              }
            }
          }
        },
        "tags": ["alert config"]
      },
      "put": {
        "operationId": "v1_instances_alertconfigs_receivers_update",
        "description": "Update alert config receiver.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Receivers",
              "required": ["name"],
              "type": "object",
              "properties": {
                "name": {
                  "description": "`Additional Validators:`\n* must be unique\n* should only include the characters: a-zA-Z0-9-",
                  "type": "string",
                  "maxLength": 200,
                  "minLength": 1
                },
                "emailConfigs": {
                  "description": "Email configurations",
                  "type": "array",
                  "items": {
                    "description": "",
                    "type": "object",
                    "properties": {
                      "to": {
                        "description": "The email address to send notifications to.\n`Additional Validators:`\n* must be a syntactically valid email address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "from": {
                        "description": "The sender address.\n`Additional Validators:`\n* must be a syntactically valid email address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "smarthost": {
                        "description": "The SMTP host through which emails are sent.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9_./@&?:-",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "authUsername": {
                        "description": "SMTP authentication information.",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "authPassword": {
                        "description": "SMTP authentication information.",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "authIdentity": {
                        "description": "SMTP authentication information.\n`Additional Validators:`\n* must be a syntactically valid email address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      }
                    }
                  }
                },
                "opsgenieConfigs": {
                  "description": "Configuration for ops genie.",
                  "type": "array",
                  "items": {
                    "description": "",
                    "type": "object",
                    "properties": {
                      "apiKey": {
                        "description": "The API key to use when talking to the OpsGenie API.\n`Additional Validators:`\n* should only include the characters: a-zA-Z0-9-",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "apiUrl": {
                        "description": "The host to send OpsGenie API requests to.\n`Additional Validators:`\n* must be a syntactically valid url address",
                        "type": "string",
                        "maxLength": 200,
                        "minLength": 1
                      },
                      "tags": {
                        "description": "Comma separated list of tags attached to the notifications.",
                        "type": "string",
                        "maxLength": 400,
                        "minLength": 1
                      }
                    }
                  }
                },
                "webHookConfigs": {
                  "description": "",
                  "type": "array",
                  "items": {
                    "description": "",
                    "type": "object",
                    "properties": {
                      "url": {
                        "description": "The endpoint to send HTTP POST requests to.\n`Additional Validators:`\n* must be a syntactically valid url address",
                        "type": "string",
                        "maxLength": 500,
                        "minLength": 1
                      },
                      "msTeams": {
                        "description": "Microsoft Teams webhooks require special handling. If you set this property to true, it is treated as such",
                        "type": "boolean",
                        "default": false
                      }
                    }
                  }
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Update alert config receiver.",
            "schema": { "$ref": "#/definitions/ReceiversResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": [
                  {
                    "name": "team-X-mails",
                    "emailConfigs": [{ "to": "team-X+alerts@example.org" }]
                  },
                  {
                    "name": "team-X-paper",
                    "emailConfigs": [{ "to": "team-X+papers@example.org" }]
                  },
                  {
                    "name": "team-Y-paper",
                    "emailConfigs": [{ "to": "team-Y+paper@example.org" }]
                  },
                  {
                    "name": "team-X-pager",
                    "emailConfigs": [
                      { "to": "team-X+alerts-critical@example.org" }
                    ],
                    "opsgenieConfigs": [
                      {
                        "apiKey": "12345678",
                        "apiUrl": "https://example.opsgenie.org"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "404": {
            "description": "Alert config receiver not found.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": {
                "message": "Alert config receiver not found."
              }
            }
          },
          "400": {
            "description": "Something went wrong.",
            "schema": { "$ref": "#/definitions/Error" },
            "examples": {
              "application/json": { "message": "Something went wrong" }
            }
          }
        },
        "tags": ["alert config"]
      },
      "delete": {
        "operationId": "v1_instances_alertconfigs_receivers_delete",
        "description": "Delete alert config receiver.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete alert config receiver.",
            "schema": { "$ref": "#/definitions/ReceiversResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": [
                  {
                    "name": "team-X-mails",
                    "emailConfigs": [{ "to": "team-X+alerts@example.org" }]
                  },
                  {
                    "name": "team-X-paper",
                    "emailConfigs": [{ "to": "team-X+papers@example.org" }]
                  },
                  {
                    "name": "team-Y-paper",
                    "emailConfigs": [{ "to": "team-Y+paper@example.org" }]
                  },
                  {
                    "name": "team-X-pager",
                    "emailConfigs": [
                      { "to": "team-X+alerts-critical@example.org" }
                    ],
                    "opsgenieConfigs": [
                      {
                        "apiKey": "12345678",
                        "apiUrl": "https://example.opsgenie.org"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "404": {
            "description": "Alert config receiver not found.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": {
                "message": "Alert config receiver not found."
              }
            }
          }
        },
        "tags": ["alert config"]
      },
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "type": "string"
        },
        { "name": "receiver", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/v1/instances/{instanceId}/alertconfigs/routes": {
      "get": {
        "operationId": "v1_instances_alertconfigs_routes_list",
        "description": "Get alert config route.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get alert config route",
            "schema": { "$ref": "#/definitions/RouteResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "groupBy": ["alertname", "cluster", "service"],
                  "groupWait": "30s",
                  "groupInterval": "5m",
                  "repeatInterval": "3h",
                  "receiver": "team-X-mails",
                  "routes": [
                    {
                      "matchRe": { "service": "^(foo1|foo2|baz)$" },
                      "receiver": "team-X-paper",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-X-paper",
                          "routes": [
                            {
                              "match": { "severity": "warning" },
                              "receiver": "team-X-paper"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "match": { "service": "files" },
                      "receiver": "team-X-pager",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-Y-paper"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["alert config"]
      },
      "post": {
        "operationId": "v1_instances_alertconfigs_routes_create",
        "description": "Create alert config route in routes of route.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "The root node of the routing tree.",
              "required": ["receiver"],
              "type": "object",
              "properties": {
                "receiver": {
                  "description": "Receiver that should be one item of receivers\n`Additional Validators:`\n* must be a in name of receivers",
                  "type": "string",
                  "maxLength": 200,
                  "minLength": 1
                },
                "groupBy": {
                  "description": "The labels by which incoming alerts are grouped together. For example, multiple alerts coming in for cluster=A and alertname=LatencyHigh would be batched into a single group. To aggregate by all possible labels use the special value '...' as the sole label name, for example: group_by: ['...']. This effectively disables aggregation entirely, passing through all alerts as-is. This is unlikely to be what you want, unless you have a very low alert volume or your upstream notification system performs its own grouping.",
                  "type": "array",
                  "items": {
                    "description": "As described",
                    "type": "string",
                    "maxLength": 200,
                    "minLength": 1
                  },
                  "maxLength": 5
                },
                "groupWait": {
                  "description": "How long to initially wait to send a notification for a group of alerts. Allows to wait for an inhibiting alert to arrive or collect more initial alerts for the same group. (Usually ~0s to few minutes.)\n`Additional Validators:`\n* must be a valid time format",
                  "type": "string",
                  "default": "30s",
                  "maxLength": 8,
                  "minLength": 2
                },
                "groupInterval": {
                  "description": "How long to wait before sending a notification about new alerts that are added to a group of alerts for which an initial notification has already been sent. (Usually ~5m or more.)\n`Additional Validators:`\n* must be a valid time format",
                  "type": "string",
                  "default": "5m",
                  "maxLength": 8,
                  "minLength": 2
                },
                "repeatInterval": {
                  "description": "How long to wait before sending a notification again if it has already been sent successfully for an alert. (Usually ~3h or more).\n`Additional Validators:`\n* must be a valid time format",
                  "type": "string",
                  "default": "4h",
                  "maxLength": 8,
                  "minLength": 2
                },
                "match": {
                  "description": "map of key:value. A set of equality matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters\n* key and values should only include the characters: a-zA-Z0-9_./@&?:-",
                  "type": "object",
                  "deprecated": true
                },
                "matchRe": {
                  "description": "map of key:value. A set of regex-matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters",
                  "type": "object",
                  "deprecated": true
                },
                "matchers": {
                  "description": "A list of matchers that an alert has to fulfill to match the node. A matcher is a string with a syntax inspired by PromQL and OpenMetrics. The syntax of a matcher consists of three tokens:\n* A valid Prometheus label name.\n* One of =, !=, =~, or !~. = means equals, != means that the strings are not equal, =~ is used for equality of regex expressions and !~ is used for un-equality of regex expressions. They have the same meaning as known from PromQL selectors.\n* A UTF-8 string, which may be enclosed in double quotes. Before or after each token, there may be any amount of whitespace.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters",
                  "type": "array",
                  "items": {
                    "description": "Item of matchers",
                    "type": "string",
                    "maxLength": 200,
                    "minLength": 1
                  },
                  "maxLength": 5
                },
                "routes": {
                  "description": "Zero or more child routes.",
                  "type": "array",
                  "items": {
                    "description": "As in one level above",
                    "type": "object",
                    "properties": {
                      "receiver": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1
                      },
                      "groupBy": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "description": "As in one level above",
                          "type": "string",
                          "maxLength": 200,
                          "minLength": 1
                        },
                        "maxLength": 5
                      },
                      "groupWait": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 8
                      },
                      "groupInterval": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 8,
                        "minLength": 2
                      },
                      "repeatInterval": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 8,
                        "minLength": 2
                      },
                      "match": {
                        "description": "As in one level above",
                        "type": "object"
                      },
                      "matchRe": {
                        "description": "As in one level above",
                        "type": "object"
                      },
                      "routes": {
                        "description": "Another child routes",
                        "type": "array",
                        "items": {
                          "description": "As in one level above",
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Create alert config route.",
            "schema": { "$ref": "#/definitions/RouteResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "groupBy": ["alertname", "cluster", "service"],
                  "groupWait": "30s",
                  "groupInterval": "5m",
                  "repeatInterval": "3h",
                  "receiver": "team-X-mails",
                  "routes": [
                    {
                      "matchRe": { "service": "^(foo1|foo2|baz)$" },
                      "receiver": "team-X-paper",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-X-paper",
                          "routes": [
                            {
                              "match": { "severity": "warning" },
                              "receiver": "team-X-paper"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "match": { "service": "files" },
                      "receiver": "team-X-pager",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-Y-paper"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "400": {
            "description": "Something went wrong.",
            "schema": { "$ref": "#/definitions/Error" },
            "examples": {
              "application/json": { "message": "Something went wrong" }
            }
          }
        },
        "tags": ["alert config"]
      },
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/v1/instances/{instanceId}/alertconfigs/routes/{receiver}": {
      "get": {
        "operationId": "v1_instances_alertconfigs_routes_read",
        "description": "Get alert receiver for route.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get alert config route",
            "schema": { "$ref": "#/definitions/RouteResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "groupBy": ["alertname", "cluster", "service"],
                  "groupWait": "30s",
                  "groupInterval": "5m",
                  "repeatInterval": "3h",
                  "receiver": "team-X-mails",
                  "routes": [
                    {
                      "matchRe": { "service": "^(foo1|foo2|baz)$" },
                      "receiver": "team-X-paper",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-X-paper",
                          "routes": [
                            {
                              "match": { "severity": "warning" },
                              "receiver": "team-X-paper"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "match": { "service": "files" },
                      "receiver": "team-X-pager",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-Y-paper"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          }
        },
        "tags": ["alert config"]
      },
      "put": {
        "operationId": "v1_instances_alertconfigs_routes_update",
        "description": "Update alert receiver for route.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "description": "The root node of the routing tree.",
              "required": ["receiver"],
              "type": "object",
              "properties": {
                "receiver": {
                  "description": "Receiver that should be one item of receivers\n`Additional Validators:`\n* must be a in name of receivers",
                  "type": "string",
                  "maxLength": 200,
                  "minLength": 1
                },
                "groupBy": {
                  "description": "The labels by which incoming alerts are grouped together. For example, multiple alerts coming in for cluster=A and alertname=LatencyHigh would be batched into a single group. To aggregate by all possible labels use the special value '...' as the sole label name, for example: group_by: ['...']. This effectively disables aggregation entirely, passing through all alerts as-is. This is unlikely to be what you want, unless you have a very low alert volume or your upstream notification system performs its own grouping.",
                  "type": "array",
                  "items": {
                    "description": "As described",
                    "type": "string",
                    "maxLength": 200,
                    "minLength": 1
                  },
                  "maxLength": 5
                },
                "groupWait": {
                  "description": "How long to initially wait to send a notification for a group of alerts. Allows to wait for an inhibiting alert to arrive or collect more initial alerts for the same group. (Usually ~0s to few minutes.)\n`Additional Validators:`\n* must be a valid time format",
                  "type": "string",
                  "default": "30s",
                  "maxLength": 8,
                  "minLength": 2
                },
                "groupInterval": {
                  "description": "How long to wait before sending a notification about new alerts that are added to a group of alerts for which an initial notification has already been sent. (Usually ~5m or more.)\n`Additional Validators:`\n* must be a valid time format",
                  "type": "string",
                  "default": "5m",
                  "maxLength": 8,
                  "minLength": 2
                },
                "repeatInterval": {
                  "description": "How long to wait before sending a notification again if it has already been sent successfully for an alert. (Usually ~3h or more).\n`Additional Validators:`\n* must be a valid time format",
                  "type": "string",
                  "default": "4h",
                  "maxLength": 8,
                  "minLength": 2
                },
                "match": {
                  "description": "map of key:value. A set of equality matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters\n* key and values should only include the characters: a-zA-Z0-9_./@&?:-",
                  "type": "object",
                  "deprecated": true
                },
                "matchRe": {
                  "description": "map of key:value. A set of regex-matchers an alert has to fulfill to match the node. \n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters",
                  "type": "object",
                  "deprecated": true
                },
                "matchers": {
                  "description": "A list of matchers that an alert has to fulfill to match the node. A matcher is a string with a syntax inspired by PromQL and OpenMetrics. The syntax of a matcher consists of three tokens:\n* A valid Prometheus label name.\n* One of =, !=, =~, or !~. = means equals, != means that the strings are not equal, =~ is used for equality of regex expressions and !~ is used for un-equality of regex expressions. They have the same meaning as known from PromQL selectors.\n* A UTF-8 string, which may be enclosed in double quotes. Before or after each token, there may be any amount of whitespace.\n`Additional Validators:`\n* should not contain more than 5 keys\n* each key and value should not be longer than 200 characters",
                  "type": "array",
                  "items": {
                    "description": "Item of matchers",
                    "type": "string",
                    "maxLength": 200,
                    "minLength": 1
                  },
                  "maxLength": 5
                },
                "routes": {
                  "description": "Zero or more child routes.",
                  "type": "array",
                  "items": {
                    "description": "As in one level above",
                    "type": "object",
                    "properties": {
                      "receiver": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1
                      },
                      "groupBy": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "description": "As in one level above",
                          "type": "string",
                          "maxLength": 200,
                          "minLength": 1
                        },
                        "maxLength": 5
                      },
                      "groupWait": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 8
                      },
                      "groupInterval": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 8,
                        "minLength": 2
                      },
                      "repeatInterval": {
                        "description": "As in one level above",
                        "type": "string",
                        "maxLength": 8,
                        "minLength": 2
                      },
                      "match": {
                        "description": "As in one level above",
                        "type": "object"
                      },
                      "matchRe": {
                        "description": "As in one level above",
                        "type": "object"
                      },
                      "routes": {
                        "description": "Another child routes",
                        "type": "array",
                        "items": {
                          "description": "As in one level above",
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Update alert config route.",
            "schema": { "$ref": "#/definitions/RouteResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "groupBy": ["alertname", "cluster", "service"],
                  "groupWait": "30s",
                  "groupInterval": "5m",
                  "repeatInterval": "3h",
                  "receiver": "team-X-mails",
                  "routes": [
                    {
                      "matchRe": { "service": "^(foo1|foo2|baz)$" },
                      "receiver": "team-X-paper",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-X-paper",
                          "routes": [
                            {
                              "match": { "severity": "warning" },
                              "receiver": "team-X-paper"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "match": { "service": "files" },
                      "receiver": "team-X-pager",
                      "routes": [
                        {
                          "match": { "severity": "critical" },
                          "receiver": "team-Y-paper"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "You are not authorized",
            "schema": { "$ref": "#/definitions/PermissionDenied" },
            "examples": {
              "application/json": {
                "detail": "You do not have permission to perform this action."
              }
            }
          },
          "404": {
            "description": "Alert config route not found.",
            "schema": { "$ref": "#/definitions/Message" },
            "examples": {
              "application/json": { "message": "Alert config route not found." }
            }
          },
          "400": {
            "description": "Something went wrong.",
            "schema": { "$ref": "#/definitions/Error" },
            "examples": {
              "application/json": { "message": "Something went wrong" }
            }
          }
        },
        "tags": ["alert config"]
      },
      "delete": {
        "operationId": "v1_instances_alertconfigs_routes_delete",
        "description": "Delete alert receiver for route.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Accepts technical credentials and api gateway access.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete alert config route.",
            "schema": { "$ref": "#/definitions/RouteResponse" },
            "examples": {
              "application/json": {
                "message": "Success",
                "data": {
                  "groupBy": ["alertname", "cluster", "service"],
                  "groupWait": "30s",
                  "groupInterval": "5m",
                  "repeatInterval": "3h",
                  "receiver": "team-X-mails",
                  "routes": [
                    {
                      "matchRe": { "service": "^(foo1|foo2|baz)$" },
                      "receiver": "team-X-paper",
[...]
